<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Panel del Veterinario</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/veterinario_vista.css}">

</head>

<body>

<div class="panel-card">

    <h1>
        Bienvenido, <span th:text="${veterinario.nombreCompleto}"></span>
    </h1>

    <h2>Listado de Citas</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha y Hora</th>
                <th>Mascota</th>
                <th>Cliente</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="cita : ${citas}">
                <td th:text="${cita.id}"></td>

                <td th:text="${#temporals.format(cita.fechaHora, 'yyyy-MM-dd HH:mm')}"></td>

                <td th:text="${cita.mascota.nombre}"></td>

                <td th:text="${cita.cliente.username}"></td>

                <td class="estado" th:text="${cita.estado.nombre}"></td>

                <td class="acciones">
                    <div th:if="${cita.estado.nombre != 'TERMINADA'}">
                        <a th:href="@{'/citas/terminar/' + ${cita.id}}" 
                           class="btn-estado">Terminar</a>

                        <a th:href="@{'/prescripciones/crear/' + ${cita.id}}" 
                           class="btn-detalle">Crear Prescripción</a>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-outline-danger logout-btn">
            Cerrar sesión
        </button>
    </form>

</div>

</body>
</html>
